# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# Flask stuff:
instance/

# Sphinx documentation
docs/_build/

# pyenv
.vscode
*.pyc

# Environments
.env
.venv
env.bak/
venv.bak/


